/* Turn off the outline on clicks to brand anchors */
a.navbar-brand {
	outline: 0;
}

a {
	outline: 0;
	text-decoration:none; 
	}
a:link {
	outline: 0;
	text-decoration:none; 
}
a:visited {
	outline: 0;
	text-decoration:none; 
}
a:hover {
	outline: 0;
	text-decoration:none; 
}
a:active {
	outline: 0;
	text-decoration:none; 
}

li {
	list-style-type: none;
}

/* JJK 3/15/2020 */
.link-tile {
    width: 175px;
}
.link-tile-sm {
    width: 128px;
}

