# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
hoadb
Media
MediaGallery
paypal*.*
desktop.ini
*.log
error_log
vendor
